@charset "UTF-08";

* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: green;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

section.pagina1 {
    background-image: url(../imagens/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 400px;
    height: 700px;
}

section.pagina2 {
    background-color: #4F8D4A;
    width: 400px;
    height: 400px;
}