@charset "UTF-08";

@import
url('https://fonts.googleapis.com/css2?family= Anton & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: #4F8D4A;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

section.pagina1 {
    background-image: url(../imagens/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 400px;
    height: 750px;
}

section.pagina2 {
    background-color: #4F8D4A;
    width: 400px;
    height: 650px;
}

section.pagina3 {
    background-color: #4F8D4A;
    width: 400px;
    height: 700px;
}

section.pagina4 {
    background-color: #4F8D4A;
    width: 400px;
    height: 900px;
}

section.pagina5 {
    background-color: #4F8D4A;
    width: 400px;
    height: 750px;
}

section.pagina6 {
    background-color: #4F8D4A;
    width: 400px;
    height: 800px;
}

h1 {
    background-color: #85B803;
    color: white;
    font-family: 'Anton', sans-serif;
    padding: 10px;
    font-size: 1.7em;
    text-align: center;
}

figure {
    text-align: center;
}


p {
    padding: 25px;
    text-align: justify;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.8em;
    
}