@charset "UTF-08";

@import
url('https://fonts.googleapis.com/css2?family= Anton & display=swap');


* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: #4F8D4A;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

section.pagina1 {
    background-image: url(../imagens/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 400px;
    height: 750px;
}

section.pagina2 {
    background-color: #4F8D4A;
    width: 400px;
    height: 400px;
}

h1 {
    background-color: #85B803;
    color: white;
    display: inline-block;
    width: 180px;
    font-family: 'Anton', sans-serif;
    padding: 10px;
    font-size: 1.7em;
}

figure {
    text-align: center;
}


p {
    padding: 25px;
    text-align: justify;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}